
/*All pages will have linear gradient background reminiscent of a fish tank, and stylized font.*/
*{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    font-variant: small-caps;
    color: black;
    text-align: center;
}

/*All images will be conservatively sized, and have smooth borders.*/
img{
    max-width: 400px;
    border-radius: 10%;
}

/*Buttons have adding styling to make for clear contrast and function.*/
a{
    background: white;
    padding: 10px;
    border: thin black solid;
    border-radius: 15px;
    font-size: 2rem;
    margin: 20px;

}